table {
    width: 100%;
    border-collapse: collapse;
}
table td, table th {
	 font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

table th {
	font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #444;
    color: #ffffff;
}

table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


body {
	background-color: #d3d3d3;
	background-image: url("../images/bodybackground.png");
	background-repeat: repeat;
	color: #000000;
	font-family: sans-serif;
	width:100%;
}

.wrapper {
	width:60%;
	height:950px;
	margin:0 auto;
	padding:0 10px;
	border-left:5px solid #444;
	border-right:5px solid #444;
}

.fullwidth {
	width: 100%;
}

dd, dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}

input {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1.1em;
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFFD6
}

input[type='checkbox'] {
	display: inline;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  text-decoration: none;
  padding: 0 1em;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin-left: 10px;
}

img {
	margin-top: 20px;
}

h1 {
	margin-top:0;
}
 
#genre ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
#genre li {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  line-height: 40px;
  height: 40px;
}
 
#genre a {
  text-decoration: none;
  color: #fff;
  padding:0 3px;
  display: block;
  transition: .3s background-color;
}
 
#genre a:hover {
  background-color: #005f5f;
}

.detail {
	float:left;
	margin:0 10px;
}

label span, .fout {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 5px 5px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
}

label span:empty, .fout:empty {
	display: none;
}

label span {
	margin-left: 0.5em;
}

label {
	cursor: pointer;
}

